
.Snickers-section {
    background-color: rgba(0,0,0, 0.6) ;
    padding: 1rem;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.Snickers-heading, .Snickers-body {
    color: white;
}

.Snickers-heading {
    font-size: 1.5rem;
}

.Snickers-body {
    font-size: 1.2rem;
    font-weight: 600;
}

.Snickers-buttons button {
    margin-right: 2rem;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255,25,25 );
    font-size: 1.2rem;
    font-weight: 600;
}

.Snickers-back-btn {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
}

.Snickers-back-btn:hover {
    text-decoration: underline;
}

